@tailwind base;
@tailwind components;
@tailwind utilities;

/* Global styles */
body {
	font-family: 'bdo', Arial, Helvetica, sans-serif;
	margin: 0;
	padding: 0;
	background-color: #ffffff;
	color: #1a1a1a;
}
